<ion-view title="About">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
            About The Developer
      </div>
      <div class="item item-text-wrap">
        Maverick
      </div>
      <div class="item item-text-wrap">
          Cross-platform Mobile Developer
      </div>
      <div class="item item-divider">
          <i class="ion ion-social-twitter"> <a href="https://twitter.com/@mavjs">@mavjs</a></i>
          <i class="ion ion-ios7-world"> <a href="https://mavjs.org">https://mavjs.org</a></i>
      </div>
    </div>
  </ion-content>
</ion-view>
